<section id="portfolio" class="section section--portfolio">

  <div class="section__content">

    <h2 class="heading heading--section">Things I helped make</h2>

    <ul class="grid portfolio portfolio--home">

      <li class="grid__unit m-3 w-4 portfolio__item">

         <a href="#" class="portfolio__link"
            data-title="Di Toft"
            data-description="Playful, promotional site for children's author, Di Toft">
          <img src="{{ site.url }}/assets/images/di-logo.png" alt="soon">
        </a>

      </li>
    	
    	<li class="grid__unit m-3 w-4 portfolio__item">
      
        <a href="http://matthewbeta.github.io/lonelyhearts" class="portfolio__link"
            data-title="Github Lonely Hearts"
            data-description="Side project to put github repo owners in touch with designers">
        
          <img src="{{ site.url }}/assets/images/lonely-hearts.png" alt="Github Lonely Hearts">
      
        </a>

      </li>

      <li class="grid__unit m-3 w-4 portfolio__item">
    	
        <a href="http://bay-productions.co.uk" class="portfolio__link"
            data-title="Bay Productions"
            data-description="Responsive brochure site for world renowned stage scenery producers, 2012">
        
          <img src="{{ site.url }}/assets/images/bayprod-logo.png" alt="Bay Productions">
      
        </a>

    	</li>

      <li class="grid__unit m-3 w-4 portfolio__item">
      
        <a href="http://matthewbeta.github.io/anatomi" class="portfolio__link"
            data-title="Anatomi"
            data-description="A configurable grid system for atomic design built with Sass">
        
          <img src="{{ site.url }}/assets/images/anatomi-logo.png" alt="Anatomi">
      
        </a>

      </li>

    	<li class="grid__unit m-3 w-4 portfolio__item">
        
        <a href="#" class="portfolio__link"
            data-title="UK Features"
            data-description="A responsive redesign with some content, code and performance improvements">
      
          <img src="{{ site.url }}/assets/images/ukf-logo.png" alt="UK Features">
        
        </a>

      </li>

      <li class="grid__unit m-3 w-4 portfolio__item">
        
        <a href="http://mrandmrsaslan.co.uk" class="portfolio__link"
            data-title="Mr and Mrs Aslan"
            data-description="My sister and brother-in-law renewed their wedding vows. I made a website for the day. Awww. 2012">
      
          <img src="{{ site.url }}/assets/images/aslan-logo.png" alt="Mr and Mrs Aslan">
        
        </a>

      </li>

      <li class="grid__unit m-3 w-4 portfolio__item">
        
        <a href="http://alangoulbourne.co.uk" class="portfolio__link"
            data-title="Alan Goulbourne"
            data-description="Portfolio website for an outstanding visual artist, 2011">
    	
          <img src="{{ site.url }}/assets/images/alang-logo.png" alt="Alan Goulbourne">
        
        </a>

    	</li>

      <li class="grid__unit m-3 w-4 portfolio__item">
         <a href="#" class="portfolio__link"
            data-title="Soon....">
          <img src="{{ site.url }}/assets/images/rtd-logo.png" alt="soon">
        </a>
      </li>

      <li class="grid__unit m-3 w-4 portfolio__item">
    	   <a href="#" class="portfolio__link"
            data-title="Soon....">
  		    <img src="{{ site.url }}/assets/images/cinemigo-logo.png" alt="soon">
        </a>
    	</li>

    </ul>

  </div>
	
</section>